* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    background-color: #2FA6E0;
    background-image: linear-gradient(#2FA6E0, #BADEEF);
    font-family: 'Quattrocento Sans', sans-serif;
    color: #175270;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 4px 0;
    font-size: 1.2rem;
}

.content-column {
    width: 1040px;
    margin: 0 auto;
}

header {
    overflow: auto;
    width: 400px;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 10px;
}

header img {
    width: 100px;
    height: 100px;
    float: left;
}

header h1, header h2 {
    color: #FFFFFF;
}

header h1 {
    margin: 0 0 0 120px;
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    padding-top: 22px;
    padding-bottom: 18px;
}

header h2 {
    margin: 10px 0 0 0;
    font-weight: 400;
    font-size: 1.8rem;
}

.section-header {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: auto;
}

a {
    text-decoration: none;
}

.header-link {
    float: right;
    height: 36px;
    padding: 7px 25px;
    background-color: #FFCC89;
    font-size: 1.6rem;
    border-radius: 8px;
    color: #814F19;
    font-weight: 700;
}

.home {
    float: left;
}

h3 {
    display: inline-block;
    font-size: 1.6rem;
    padding: 7px 25px;
}

section.review-container {
    overflow: auto;
    margin-bottom: 50px;
}

section.review-form {
    width: 650px;
    margin: 0 auto 100px auto;
    padding: 15px 0;
}

.review {
    background-color: #FFCC89;
    width: 500px;
    height: 290px;
    overflow: auto;
    border-radius: 20px;
    float: left;
    margin: 9px;
}

.review-content {
    background-color: #FFFFFF;
    height: 240px;
}

.review-image {
    width: 190px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: auto 190px;
    background-position: center;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 18px;
}

.review-button {
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid #814F19;
    border-radius: 5px;
    background-color: #FFCC89;
    float: right;
    margin: 9px 3px 0;
}

.delete {
    margin-right: 10px;
}

.stats, .item-titles {
    float: left;
    margin-left: 20px;
}


.item-titles {
    width: 255px;
    margin-bottom: 8px;
    margin-bottom: 8px;
}

.review th {
    width: 130px;
    font-weight: 400;
}

.review td {
    font-weight: 700;
}

.rating {
    width: 180px;
    height: 32px;
    margin: 4px auto;
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
}

.rating span {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 2.4rem;
}

h4 {
    margin-top: 15px;
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

/* Form page styling */

.review-post-message {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 15px auto;
    font-size: 1.5rem;
}

.form-line {
    background-color: #FFFFFF;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 4px 0;
    overflow: auto;
}

.transparent {
    background-color: rgba(255,255,255,0)
}

.short-form-line {
    width: 55%;
}

.form-line span {
    float: left;
    font-size: 1.6rem;
    padding: 4px;
}

label {
    padding: 6px 20px;
    float: left;
    font-weight: 700;
}

input {
    margin: 3px 0;
}

#id {
    visibility: hidden;
    width: 30px;
    position: fixed;
    left: -32px;
}

input[type="text"] {
    width: 70%;
    float: left;
}

input[type="date"] {
    font-size: 1.1rem;
}

input.short-input {
    width: 170px;
}

.form-error-message {
    margin: 4px 0 15px 20px;
    font-size: 1.2rem;
    color: #dc143c;
}

.rating-box {
    background-color: #FFFFFF;
    width: 500px;
    margin: 0 auto 20px auto;
    border-radius: 8px;
}

.rating-box label {
    padding: 20px 10px 20px 40px;
}

.score-container {
    overflow: auto;
    float: right;
    width: 254px;
    padding: 10px 0;
    margin-right: 65px;
}

.score-container input[type="radio"] {
    display: none;
}

.score-container label {
    float: right;
    width: 20px;
    height: 40px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    cursor: pointer;
    background-image: url("./images/burger_full_lh.png");
}

.burger-lh + label {
    margin-left: 10px;
    background-image: url("./images/burger_empty_lh.png");
}

.burger-rh + label {
    background-image: url("./images/burger_empty_rh.png");
}

.score-container .burger-lh:checked + label {
    background-image: url("./images/burger_full_lh.png");
}

.score-container .burger-rh:checked + label {
    background-image: url("./images/burger_full_rh.png");
}

.score-container input[type="radio"]:checked ~ .burger-lh + label {
    background-image: url("./images/burger_full_lh.png");
}

.score-container input[type="radio"]:checked ~ .burger-rh + label {
    background-image: url("./images/burger_full_rh.png");
}

.rounded-button {
    font-size: 1.6rem;
    height: 48px;
    background-image: linear-gradient(#FFCC89,#FFE0B7);
    padding: 12px 40px;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}

.cancel {
    float: right;
    background-image: none;
    background-color: #f08080;
    margin: 3px;
}

@media screen and (max-width: 1100px) {

    .content-column {
        width: 600px;
    }

    section.review-form{
        width: 96%;
    }

    .review {
        width: 572px;
    }

    .section-header {
        margin-top: 0;
    }

}

@media screen and (max-width: 650px) {

    html {
        font-size: 10px;
    }

    header h2 {
        display: none;
    }

    header {
        padding-bottom: 10px;
        width: 300px;
    }

    .content-column {
        width: 96%;
    }

    .review {
        width: 98%;
        min-width: 370px;
        margin: 10px auto 15px auto;
        float: none;
        height: 305px;
    }

    .review-content {
        height: 255px;
    }

    .review-image {
        width: 21%;
        height: auto;
        padding-top: 21%;
        background-size: auto 100%;
    }

    h4 {
        font-size: 2.6rem;
    }

    h5 {
        font-size: 2rem;
    }

    .rating {
        margin: 7px auto;
        width: 155px;
    }

    .item-titles {
        width: 66%;
    }

    .stats {
        margin-top: 8px;
    }

    .form-line {
        font-size: 1.6rem;
    }

    input[type="text"] {
        width: 90%;
        margin-left: 5%;
    }

    input[type="date"] {
        font-size: 1.4rem;
    }

    label {
        padding: 5px 17px 0;
    }

    .short-form-line {
        width: 100%;
    }

    input.short-input {
        width: 58%;
        margin-left: 5px;
    }

    .rating-box {
        width: unset;
    }

    .score-container {
        float: left;
        margin-right: unset;
    }

}

@media screen and (max-width: 480px) {

    h4 {
        font-size: 2.2rem;
    }

    h5 {
        font-size: 1.7rem;
    }

    .review {
        width: 98%;
        min-width: unset;
        height: 305px;
    }

    .review-content {
        height: 255px;
    }

    .item-titles {
        margin-bottom: 0px;
        height: 87px;
    }

    .stats {
        margin-left: 8px;
    }

    .rating-box .form-line > label {
        padding: 10px 30px 0;
    }

    .score-container {
        width: 75%;
        min-width: 260px;
    }

    .cancel {
        float: none;
        display: block;
        margin-top: 10px;
        width: 148px;
    }

}